<!-- filepath: /D:/Code/bus_reservation_system/website/templates/view_buses.html -->
{% extends "base.html" %}

{% block title %}View Buses{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='viewbus.css') }}">
<div class="container">
        <!-- Search and Sort Section -->
        <div class="search-sort-container">
            <!-- Search Form -->
            <form method="POST" action="{{ url_for('view.view_buses_route') }}" class="controls">
                <input type="text" id="search_query" name="search_query" placeholder="Search by route" class="input1" onkeyup="autocomplete()">
                <div id="suggestions"></div>
                <button type="submit" class="buttonBack">Search</button>
            </form>
    
            <!-- Sort Buttons -->
            <form method="GET" action="{{ url_for('view.view_buses_route') }}" class="controls">
                <label for="sort_by" class="label">Sort by:</label>
                <select id="sort_by" name="sort_by" class="input2" onchange="this.form.submit()">
                    <option value="" disabled {% if not sort_by %}selected{% endif %}>Select an option</option>
                    <option value="time" {% if sort_by == 'time' %}selected{% endif %}>Time</option>
                    <option value="bus_number" {% if sort_by == 'bus_number' %}selected{% endif %}>Bus Number</option>
                </select>
            </form>
        </div>
    <!-- Bus Containers -->
    <div class="buses-container">
        {% for bus in buses %}
        <div class="bus-container">
            <!-- Bus Image and Number Overlay -->
            <div class="bus-image">
                <img src="{{ url_for('static', filename='images/bus_image.jpg') }}" alt="Bus Image">
                <div class="text-overlay">{{ bus.bus_number }}</div> <!-- Bus Number on image -->
            </div>

            <div class="bus-info">
                <p><strong>Bus Number:</strong> {{ bus.bus_number }}</p>
                <p><strong>Route:</strong> {{ bus.route }}</p>
                <p><strong>Available Seats:</strong> {{ bus.available_seats }}</p>
                <p><strong>Time:</strong> {{ bus.time }}</p>
                <p><strong>Price:</strong> VND {{ bus.price }}</p>
            </div>

            <a href="{{ url_for('view.buy_ticket', bus_id=bus.id) }}" class="button2">Buy Ticket</a>
            {% if current_user.username  == 'admin' %}
            <a href="{{ url_for('admin.edit_bus', bus_id=bus.id) }}" class="button2">Edit</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}